<% if current_user&.guest_user? %>
  <span class="text-muted">❤️ <%= post.favorites.count %></span>
<% else %>
  <% if current_user&.favorited?(post) %>
    <%= link_to post_favorite_path(post, current_user.favorites.find_by(post_id: post.id)),
                method: :delete,
                class: "favorite-link is-active" do %>
      ❤️ <%= post.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post),
                method: :post,
                class: "favorite-link" do %>
      🤍 <%= post.favorites.count %>
    <% end %>
  <% end %>
<% end %>
