<!DOCTYPE html>
<html>
  <head>
    <title>Muscle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/52b3005dcd.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container-main">
      <% flash.each do |type, message| %>
        <% bs_class =
          case type.to_s
          when "notice" then "alert alert-success"
          when "alert" then "alert alert-danger"
          else "alert alert-info"
          end
        %>
        <div class="<%= bs_class %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>

      <% if user_signed_in? && !current_user.guest_user? %>
         <%= link_to new_post_path, class: "floating-post-btn" do %>
           + 投稿
          <% end %>
      <% end %>
    </div>
  </body>
</html>